nav(class="nav header__nav")
  button(class="btn nav__btn nav__btn--call") Позвоните мне
  ul(class="nav__list")
    li(class="nav__item") 
      a(class="nav__link" href="catalog.html") Каталог консультантов
    li(class="nav__item")
      a(class="nav__link" href="faq.html") FAQ
  button(class="btn nav__btn nav__btn--user") Войти
  a(class="nav__buy" href="buy.html" aria-label="Перейти в корзину с покупками")
