header(class="container header page__header")
  a(class="header__link" href="index.html")
    picture(class="header__logo")
      source(class="header__source" type="image/webp" srcset="img/png/logo@1x.webp 1x, img/png/logo@2x.webp 2x")
      img(class="header__image" src="img/png/logo@1x.png" width="617" height="89" srcset="img/png/logo@2x.png 2x" alt="Текстовый логотип компании Антирабство")
    p(class="header__slogan") найдите свое призвание
  include ../modules/nav
